!Android.mk
*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*pyc
*~
.*.sw?
.DS_Store
.checkstyle
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.svn
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
Thumbs.db
cscope.*
out/
tags
v8.log
vs-chromium-project.txt
